<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location = "classpath:druid.properties" />
    <context:property-placeholder location="classpath:mail.properties"/>

    <!--配置数据源-->
    <bean id = "dataSource" class = "com.alibaba.druid.pool.DruidDataSource">
        <property name = "driverClassName" value = "${jdbc.driverClassName}"/>
        <property name = "url" value = "${jdbc.url}"/>
        <property name = "username" value = "${jdbc.username}"/>
        <property name = "password" value = "${jdbc.password}"/>
        <property name = "maxActive" value = "${jdbc.maxActive}" />
        <property name = "initialSize" value = "${jdbc.initialSize}" />
    </bean>


    <!--配置mybatis的sqlSessionFactory工厂-->
    <bean class = "org.mybatis.spring.SqlSessionFactoryBean">
        <!--引用数据源-->
        <property name = "dataSource" ref = "dataSource"/>
        <!--Mybatis配置文件位置-->
        <property name = "configLocation" value = "classpath:mybatis-config.xml" />
    </bean>

    <!--扫描Service-->
    <context:component-scan base-package = "service"/>

    <!-- 自动扫描包，并且生成mapper的实现类，生成的bean的名称为mapper接口的首字母小写 -->
    <bean class = "org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name = "basePackage" value="dao"/>
    </bean>

    <!-- 事务管理器 -->
    <bean id = "transactionManager" class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name = "dataSource" ref = "dataSource" />
    </bean>

    <!-- 配置邮件接口 -->
    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.smtp.host}"/>
        <property name="username" value="${mail.smtp.username}"/>
        <property name="password" value="${mail.smtp.password}"/>
        <property name="defaultEncoding" value="${mail.smtp.defaultEncoding}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
                <prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>
            </props>
        </property>
    </bean>

    <!--开启事务注解-->
    <tx:annotation-driven transaction-manager = "transactionManager" />


</beans>