<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- 配置包扫描器，扫描@Controller注解的类 -->
    <context:component-scan base-package="controller"/>
    <!-- 加载注解驱动 -->
    <mvc:annotation-driven/>

    <!--配置静态资源的访问映射，此配置中的文件，将不被前端控制器拦截 -->
    <mvc:resources location="/image/" mapping="/images/**"/>

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--<property name="prefix" value="   "/>-->
        <property name="suffix" value=".html"/>
    </bean>

    <!-- 上传图片配置实现类 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 上传图片的大小（单位：字节）20M-->
        <property name="maxUploadSize" value="20971520" />
    </bean>

    <!-- 配置拦截器 -->
    <!--<mvc:interceptors>
        <mvc:interceptor>
            &lt;!&ndash; 指定拦截的路径 &ndash;&gt;
            <mvc:mapping path="/**/*.do"/>
            &lt;!&ndash; 指定不拦截的路径 &ndash;&gt;
            <mvc:exclude-mapping path="/**/userLogin.do"/>
            <mvc:exclude-mapping path="/**/register.do"/>
            <mvc:exclude-mapping path="/**/changePassword.do"/>
            &lt;!&ndash; 指定拦截器 &ndash;&gt;
            <bean class="interceptor.TokenInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>-->
</beans>